@model Kategoria
<form method="post">
    <div class="border p-3">
        <div class="row pt-3">
            <h6 class="text-primary">Fshi Kategorine</h6>
            <hr />
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="mb-2">
            <label asp-for="Emri"></label>
            <input asp-for="Emri" class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger">Fshi</button>
        <a asp-controller="Kategori" asp-action="Listo" class="btn btn-secondary">Kthehu</a>
    </div>
</form>