@model Kategoria

<form method="post">
    <div class="border p-3">
        <div class="row">
            <h6 class="text-primary">Shto nje kategori</h6>
       
        </div>
        <hr/>
        <div class="mb-3">
            <label asp-for="Emri"></label>
            <input asp-for="Emri" class="form-control" />
            <span asp-validation-for="Emri" class="text-danger"></span>
        </div>
       
        <button type="submit" class="btn btn-success">Shto</button>
        <a class="btn btn-secondary" asp-controller="Kategori" asp-action="Listo">Kthehu</a>
    </div>
</form>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
